html {
  scroll-behavior: smooth;
}

body {
  background-color: #162447;
  padding-top: 6%;
  color: #40514E;
  text-align: center;
  font-family: 'Merriweather', serif;
}

a {
  color: #fff;
  text-decoration: none;
}

p {
  line-height: 2;
}

h1 {
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66bfbf;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: #66bfbf;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

/* navigation bar */
.nav-link {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
}

.navbar {
  background-color: #162447;
  padding: 1.5% 20%;
  transition: top 0.3s;
}

#logo-img {
  width: 70%;
}

/* Who am I section */

#who-am-i {
  background-color: #162447;
  margin-bottom: 100px;
}

#who-am-i h1, h2 {
  margin: 3% auto;
  line-height: 3;
}

#who-am-i .a-description {
  font-family: 'Roboto Mono', monospace;
  color: white;
}

#who-am-i .I-am {
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
  color: white;
}

/* About me */

#about-me {
  background-color: #fff;
  padding: 2% 7% 4%;
}

#about-me h2, p{
  line-height: 2;
  margin: 3% 0;
}

.skills-heading {
  text-align: center;
}

.skills-row {
  text-align: left;
}

/* #about-me {
  background-color: #162447;
}

#about-me .container-fluid {
  padding: 3.2% 17%;
}

#about-me h2{
  font-size: 2rem;
  color: #fff;
}

#about-me h3{
  font-size: 1.3rem;
  color: #fff;
}

.molecule-img {
  width: 10%;
  border-radius: 50%;
  margin: 20px;
} */

/* Projects */

#projects {
  background-color: #1b1b2f;
  padding: 4% 3%;
  color: white;
  font-family: 'Playfair Display', serif;
}

.top-description {
  width: 30%;
  margin: auto;
}

.gif-atom {
  background-color: lavender;
  border-radius: 50%;
  width: 20%;
  float: left;
  margin-right: 30px;
}

.gif-coding {
  background-color: lavender;
  border-radius: 50%;
  width: 20%;
  float: right;
  margin-left: 30px;
}

hr {
  margin-top: 100px;
  margin-bottom: 100px;
  border-style: dotted none none none;
  border-top-width: 8px;
  border-color: #66bfbf;
  width: 4%;
}

.skill-row {
  width: 50%;
  margin: 100px auto 200px;
  text-align: left;
}

.pro {
  text-decoration: underline;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
