body {
  color: #40514E;
  text-align: center;
  font-family: 'Merriweather', serif;
}

a {
  color: #fff;
  text-decoration: none;
}

p {
  line-height: 2;
}

h1 {
  margin: 50px auto 0;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66bfbf;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: #66bfbf;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

/* Menu section */
#menu {
  background-color: #162447;
}

.container-fluid {
  padding: 0 15%;
}

/* navigation bar */
.nav-link {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
}

.navbar {
  padding-top: 0;
}

.logo {
  font-size: 2rem;
}

/* Who am I section */

#whoami .container-fluid {
  background-color: #162447;
  padding: 5% 7%;
}

#whoami h1, h2 {
  margin: 0;
}

.top-description {
  width: 30%;
  margin: auto;
}

.a-description {
  font-weight: normal;
}

.gif-atom {
  background-color: lavender;
  border-radius: 50%;
  width: 25%;
  float: left;
  margin-right: 30px;
}

.gif-coding {
  background-color: lavender;
  border-radius: 50%;
  width: 25%;
  float: right;
  margin-left: 30px;
}

.top-container {

}

.middle-container {
  padding: 100px 0;
  background-color: white;
}

.bottom-container {
  background-color: #66bfbf;
}

.bottom-container a{
  color: white;
}

.bottom-container p {
  color: #EAF6F6;
  margin: 0;
  padding-bottom: 30px;
}

hr {
  margin-top: 100px;
  margin-bottom: 100px;
  border-style: dotted none none none;
  border-top-width: 8px;
  border-color: #66bfbf;
  width: 4%;
}

.skill-row {
  width: 50%;
  margin: 100px auto 200px;
  text-align: left;
}

.pro {
  text-decoration: underline;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
